
nav{
    display:  flex;
    background-color : #0F172A;

   justify-content: space-between;
   align-items: center;
   padding: 20px 60px;
    
   color: #ffffff;
    
    
}

.logo{
    font-size: 24px;
    font-weight: 700;
}
.list-of-content{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-of-content li {
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 15px;

}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
